h1 {
color: red;
text-align: center;
}

 hr {
    border: 1px solid red ;
     }
  ul {
list-style: inside;
 }
li{
    color: blue;
    }
#tawil {
    color: orange;

   }
   span{
font-weight: 800;
color: brown;

   }
   #one{
    background-color: aqua;
    border: 4px solid black;
    width: 40%;
  

}

